awscli==1.16.290
botocore==1.13.26
certifi==2019.11.28
colorama==0.4.1
docutils==0.15.2
jmespath==0.9.4
kafka-python==2.0.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.18.1
pandas==1.0.3
pyasn1==0.4.8
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
rsa==3.4.2
s3transfer==0.2.1
six==1.14.0
